@import '../../style/common';

.tab-menu {
    position: relative;
    overflow: hidden;

    .nav-menu {
        border-bottom: solid 1px #EEE;
        position: relative;
        overflow: hidden;
        height: 4.5em;
        margin-left: 1em;
        padding-top: 1.4em;
        .header {
            float: left;
            margin: 0;
            width: 8em;
        }

        ul {
            float: left;
            position: relative;
            display: inline-block;
            margin: 0;
        }
    }

    .tab-content {
        margin: 0;
        padding: 0;

        .tab-pane {
            position: relative;
            height: 80vh;
            overflow: auto;
        }
    }
}
