@import '../../style/common';

.tab-menu {
    position: relative;
    overflow: hidden;

    .nav-menu {
        border-bottom: solid 1px #EEE;
        position: relative;
        overflow: hidden;
        height: 4.5em;
        margin-left: 1em;
        padding-top: 1.4em;
        .header {
            float: left;
            margin: 0;
            width: 8em;
        }

        ul {
            float: left;
            position: relative;
            display: inline-block;
            margin: 0;
        }
    }

    .tab-content {
        margin: 0;
        padding: 0;

        .tab-pane {
            position: relative;
            height: 80vh;
            overflow: auto;
        }
    }

    /* override twitter bootstrap's pills style */
    .nav-pills li.active > a,
    .nav-pills > li.active > a:hover,
    .nav-pills > li.active > a:focus {
        background-color: #FFF;
        border: none;
        border-bottom: solid 3px #006be5;
        border-radius: 0;
        color: #000;
        width: 7.5em;
        text-align: center;
    }
    .nav-pills li > a {
        color: #000;
        width: 7.5em;
        text-align: center;
    }
}
