@import '../../style/common';

.posts {
    @include component;

    position: relative;
    height: 100%;

    .list {
        list-style: none;

        $timeline-icon-size: 40px;
        .timeline-icon {
            width: $timeline-icon-size;
            height: $timeline-icon-size;
            speak: none;
            -webkit-font-smoothing: antialiased;
            color: #fff;
            border-radius: 50%;
            border: solid 1px #AAA;
            margin: 0 0 0 0;
            padding: 0;
            position: absolute;
            .icon {
                color: #AAA;
                font-size: 1.3em;
                vertical-align: middle;
                margin: 0.45em 0 0 0.45em;
            }
        }

        .timeline-content {
            margin: 0 0 15px 10%;
            padding: 2em;
            font-size: 1.2em;
            font-weight: 300;
            line-height: 1.4;
            position: relative;
            border-radius: 5px;
        }
    }

    &:after {
        content: ' ';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 4.1em;
        width: 3px;
        background: #EEE;
        z-index: -1;
    }
}

