@import '../../style/common';

.posts {
    @include component;

    position: relative;
    height: 100%;

    .list {
        list-style: none;

        $timeline-icon-size: 40px;
        .timeline-icon {
            width: $timeline-icon-size;
            height: $timeline-icon-size;
            speak: none;
            -webkit-font-smoothing: antialiased;
            color: #fff;
            border-radius: 50%;
            border: solid 1px #AAA;
            margin: 0 0 0 0;
            padding: 0;
            position: absolute;
            .icon {
                color: #AAA;
                font-size: 1.3em;
                vertical-align: middle;
                margin: 0.45em 0 0 0.45em;
            }
        }

        .timeline-content {
            margin: 0 0 5em 10%;
            font-size: 1.2em;
            font-weight: 300;
            line-height: 1.4;
            position: relative;
            border-radius: 5px;
            .header {
                .avatar {
                    @include avatar(40px);
                }
                .username {
                    margin: 0 0.3em 0 1em;
                }
                .content-type .tiny {
                    font-size: 0.7em;
                }
            }
            .body {
                border: 1px solid #ddd;
                border-radius: 4px;
                margin-top: 0.5em;
                padding: 0 0 0 1em;
                width: 30em;

                .contributors {
                    margin-top: 0.5em;
                    small {
                        display: block;
                    }
                    .avatar {
                        @include avatar(25px);
                        margin: 0 1px 0 1px;
                    }
                    .glyphicon {
                        color: #555;
                        margin: 0 1em;
                        vertical-align: middle;
                    }
                    .avatar,
                    .glyphicon {
                        margin-top: 0.5em;
                    }
                }

                .footer {
                    text-align: right;
                    width: 100%;
                    .btn {
                        border-radius: 0;
                        border-bottom: none;
                        border-right: none;
                        background-color: rgba(255,255,255, 0);
                    }
                }
            }
        }
    }

    &:after {
        content: ' ';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 4.1em;
        width: 3px;
        background: #EEE;
        z-index: -1;
    }
}

