@import '../../style/common';

.feeds {
    @include component;
    @include fixed;

    position: relative;

    width: $channel-width;
    margin: 0;

    .header {
        padding: 0 0 0.5em 1em;
        margin-top: 0;
        margin-bottom: 0;
    }

    .list {
        @include list-style-none;

        padding-left: 0.5em;
        font-size: 1.1em;

        $item-width: $channel-width - 20px;
        .item {
            a {
                color: inherit;
                display: block;
                text-decoration: none;
                padding: 0 0 0 2em;
                margin: 0 0 0 -1em;
                width: 100%;
                &:hover {
                    background: #EEE;
                    color: #000;
                    cursor: pointer;
                }
            }
        }
    }
}
