@import '../../style/common';

.feeds {
    @include component;
    @include fixed;

    position: relative;

    width: $channel-width;
    margin: 0;
    padding-left: 16px;

    .header {
        padding-bottom: 0;
        margin-bottom: 0.2em
    }

    .list {
        @include list-style-none;

        font-size: 1.1em;
        padding-left: 16px;

        $item-width: $channel-width - 20px;
        .item {
            a {
                color: inherit;
                display: block;
                text-decoration: none;
                width: 100%;
                &:hover {
                    background: #EEE;
                    color: #000;
                    cursor: pointer;
                }
            }
        }
    }
}
