@import '../../style/common';

.fixed-menu-top {
    @include fixed;
    width: 100%;
    height: $menu-size;

    background-color: #DDD;
}

.content {
    position: relative;
    top: $menu-size;
    padding: 0;
    margin: 0;
}
