@import '../../style/common';

@mixin flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex($x) {
    -webkit-flex: $x 0 0;
    flex: $x 0 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.wrap {
    height: 90vh;
    @include flexbox;

    .main-page-container {
        flex: 1;
        flex-direction: row;
        @include flexbox;

        .feeds-item {
            position: relative;
            top: 0;
            flex: 1;
        }

        .posts-item {
            position: relative;
            flex: 2 1 auto;
            overflow: auto;
        }

        .post-item {
        }
    }
}
