@import 'common';

.btn-menu {
    background-color: #FFF;
    border-radius: 0;
    height: $menu-size;
    width: $menu-size;
}

.btn-menu:hover {
    background: #EEE;
}

.glyphicon-large {
    font-size: 1.5em;
}
