$menu-size: 50px;
$menu-background-color: #F7F7F7;
$channel-width: 180px;

@mixin fixed {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

@mixin list-style-none {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin component {
    padding-top: 0.5em;
    margin-top: 0.5em;
}

@mixin avatar($size) {
    height: $size;
    width: $size;
}

.vertical-middle {
    vertical-align: middle;
}

a {
    text-decoration: none;
}
