.timeline {

    ul {
        list-style: none;
        max-width: 1170px;
        width: 90%;
    }

    $timeline-icon-color: #aaa;
    $timeline-icon-size: 40px;
    .icon {
        -webkit-font-smoothing: antialiased;
        border-radius: 50%;
        border: solid 1px $timeline-icon-color;
        color: $timeline-icon-color;
        height: $timeline-icon-size;
        margin: 0;
        position: absolute;
        speak: none;
        text-align: center;
        vertical-align: middle;
        width: $timeline-icon-size;
        .pe-icon {
            margin-top: 19%;
        }
    }
    .content {
        position: relative;
        top: 0;
    }

    .timeline-content {
        font-size: 1.2em;
        height: 100%;
        margin: 0 0 5em 60px;
        position: relative;

        .timeline-box {
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        .timeline-header {
            margin-bottom: 0.1em;
        }

        .timeline-body {
            margin-top: 0.5em;
            padding: 0 0 0 1em;
        }

        .timeline-footer {
            text-align: right;
        }

    }
}
